<div class="w-full text-center">
  <%= form_with(url: "#", method: :put) do |form| %>
    <%= submit_tag "Magic Sequence", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
</div>
